<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	@Styles.Render("~/Content/bootstrap.css")
	@Styles.Render("~/Content/bootstrap.css.map")
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap.min.css.map")
	@Styles.Render("~/Content/bootstrap-theme.css")
	@Styles.Render("~/Content/bootstrap-theme.css.map")
	@Styles.Render("~/Content/bootstrap-theme.min.css")
	@Styles.Render("~/Content/bootstrap-theme.min.css.map")
	@Styles.Render("~/Content/App.css")
</head>
<body>
	@RenderBody()
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				@Html.ActionLink("EduSim", "Dashboard", "Account", new {@class = "navbar-brand"})
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li role="presentation" class="dropdown">
						<a id="accountAdminDropdown" data-toggle="dropdown" role="button">Account Admin</a>
						<ul class="dropdown-menu">
							<li>Account Settings</li>
							<li>User Management</li>
							<li>Financial Management</li>
						</ul>
					</li>

					<li role="presentation" class="dropdown">
						<a id="instructorDropdown" data-toggle="dropdown" role="button">Instructor</a>
						<ul class="dropdown-menu">
							<li>Gradebook</li>
							<li>Attendance</li>
							<li>Student Records</li>
							<li>Reports</li>
						</ul>
					</li>
				</ul>
				@Html.Partial("_UserPartial")
			</div>
		</div>
	</div>

	<div class="container body-content">

	</div>
</body>
</html>
@Scripts.Render("~/Scripts/jquery-3.1.0.js")
@Scripts.Render("~/Scripts/jquery-3.1.0.min.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/bootstrap.js")



