<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	@Styles.Render("~/Content/bootstrap.css")
	@Styles.Render("~/Content/bootstrap.css.map")
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap.min.css.map")
	@Styles.Render("~/Content/bootstrap-theme.css")
	@Styles.Render("~/Content/bootstrap-theme.css.map")
	@Styles.Render("~/Content/bootstrap-theme.min.css")
	@Styles.Render("~/Content/bootstrap-theme.min.css.map")
	@Styles.Render("~/Content/App.css")

	@Scripts.Render("~/Scripts/jquery-3.1.1.js")
	@Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
	@Scripts.Render("~/Scripts/bootstrap.min.js")
	@Scripts.Render("~/Scripts/bootstrap.js")

</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand">EduSim</a>
	    </div>
				
	    <ul class="nav navbar-nav">
	      <li class="dropdown" role="presentation">
				<a id="systemAdminDropdown" class="dropdown-toggle" data-toggle="dropdown" role="button">System Admin<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a>System Roles</a></li>
					<li><a>System Users</a></li>
					<li><a>System Accounts</a></li>
				</ul>
			</li>
	      <li><a>Account Admin</a></li>
	      <li><a>Page 2</a></li> 
	    </ul>
				
	    <ul class="nav navbar-nav navbar-right">
	      <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    </ul>
	  </div>
</nav>


	<div class="container body-content">
		@RenderBody()
	</div>
</body>
</html>



