@using System.Web
@using System.Configuration
@using EduSim.Web.ViewModels
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
	    <title>Login</title>
		@Styles.Render("~/Content/css")
	    
	    @Styles.Render("~/Content/App.css")
	    @Styles.Render("~/Content/bootstrap.css")
	    @Styles.Render("~/Content/bootstrap.css.map")
	    @Styles.Render("~/Content/bootstrap.min.css")
	    @Styles.Render("~/Content/bootstrap-theme.css")
	    @Styles.Render("~/Content/bootstrap-theme.min.css")
	    @Styles.Render("~/Content/boostrap-theme.min.css.map")

	    @Scripts.Render("~/Scripts/bootstrap.min.js")
	    @Scripts.Render("~/Scripts/jquery-3.1.0.min.js")
	    @Scripts.Render("~/Scripts/bootstrap.js")
	    @Scripts.Render("~/Scripts/jquery-3.1.0.js")
	    @Scripts.Render("~/Scripts/jquery-3.1.0.min.js")

	</head>
	<body class="login-body">
		<div class="col-xs-6 col-sm-6 offset-sm-3 col-md-10 offset-md-4 col-lg-10 col-xl-10">
		<section id="loginForm">
				<h2>EduSIM Login</h2>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 style="color: #ffffff;">Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group email">
                        @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                        @Html.LabelFor(m => m.Email, "Email", new { @class = "col-sm-2 col-md-2 control-label", data_toggle = "tooltip" })
                        <div class="col-sm-8 col-md-10 col-lg-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-md-2 control-label" })
                        <div class="col-sm-8 col-md-10 col-lg-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br />
                    		<button id="loginButton" class="btn btn-danger pull-right">Login</button>

                        </div>
					
                    </div>

                    <div class="form-group">
                        <div>
                             
                        </div>
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
			</div>
	</body>
</html>

