@model EduSim.Web.ViewModels.SystemAccountsViewModel
@{
	ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <title>Accounts</title>
	<script src="~/Scripts/SystemAdmin/systemadmin.accounts.js"></script>
</head>
<body>
	<h2>@ViewBag.Title</h2>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Accounts
			</div>

			<div class="panel-body">
				<div class="col-md-6">
					Use the selector on the right to select an account or add a new account.
				</div>
				<div class="col-md-6">
					@Html.DropDownListFor(m => m.SelectedAccountId, Model.AccountDropDown, "Select an account...")
					<a id="new-account-button" class="btn btn-primary">Add Account</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Account Details
			</div>
			<div class="panel-body">
				<div class="form-horizontal col-md-6">
					<div class="form-group">
						@Html.Label("Account Name")
						<input id="AccountName" style="width:400px;"/>
					</div>

					<div class="form-group">
						@Html.Label("Account Type")
						@Html.DropDownList("AccountTypeList")
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Accounts</h3>
			<div class="form-group">
			@*@Html.LabelFor(m => m.AccountList,"Accounts: ")*@
			<button id="new-account-button" class="btn btn-primary">Create new account <span class="glyphicon glyphicon-plus"></span></button> <br /> <br/>
			@Html.DropDownListFor(m => m.SelectedAccountId, Model.AccountDropDown,"Select an account...")
			</div>
			<br /> <br />

			<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="account-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Account Options
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="account-options">
				    <li><a href="#">Details</a></li>
				    <li><a href="#">Schools</a></li>
				    <li><a href="#">Users</a></li>

				  </ul>
			</div>
			
		</div>

		<div class="col-md-8" id="account-details-div">
			
		</div>
	</div>
</body>
</html>

<script>
	$(document).ready(function() {
		$("#SelectedAccountId").change(function(){
			var _accountId = $("#SelectedAccountId").val();
			LoadAccountDetailsAsync(_accountId);
		});

		$("#new-account-button").click(function(){
			alert("Feature coming soon!");
		});

		
	});

	function LoadAccountDetailsAsync(account_id) {
		$.ajax({
			type:"POST",
			url: '@Url.Action("Details","Account")',
			data: {accountId:account_id},
			success: function(result) {
				$("#account-details-div").html(result);
			}
		});
	}
</script>